<%= form_with model: @movie, html: { multipart: true } do |f| %>

	<div class="input-field">
		<%= f.label :avatar, "Upload Movie Poster" %><br><br>
		<%= f.file_field :avatar %>
	</div>

	<div class="input-field">
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</div>

	<div class="input-field">
		<%= f.label :genre %><br>
		<%= f.text_field :genre %>
	</div>

	<div class="input-field">
		<%= f.label :location_filmed %><br>
		<%= f.text_field :location_filmed %>
	</div>

	<div class="input-field">
		<%= f.label :length %><br>
		<%= f.number_field :length %>
	</div>

	<div class="input-field">
		<%= f.submit "Add Movie", class: "modal-action modal-close waves-effect waves-green btn-flat"%>
	</div>

<% end %>