<div class="row">
<h1><%= @movie.name %></h1>

<%= image_tag @movie.avatar.url, class: "materialboxed", height: "500px" %>

<h3>Created by: <%= link_to @movie.creator.full_name, @movie.creator %></h3>
<p>Genre: <%= @movie.genre %></p>
<p>Location Filmed: <%= @movie.location_filmed %></p>
<p><%= Time.at(@movie.length).utc.strftime("%l hour and %M minutes long") %></p>

<% if !@movie.reviews.empty? %>
	<h5>Reviews:</h5>
<% end %>
<div class="reviews">
	<% @movie.reviews.each do |review| %>
		<%= render 'reviews/review', review: review %>
	<% end %>
</div>
</div>
<% if user_signed_in? %>
	<div class="forms-row row">
		<div class="col s5">
			<div class="viewings-form">
				<%= render 'viewings/form' %>
			</div>
		</div>
		<div class="review-form col s7">
			<h4>Would you like to leave a review?</h4>
			<%= render 'reviews/form' %>
		</div>
	 </div>
<% end %>