<% if @viewing %>
	<h6>You've watched this <%= pluralize(@viewing.watched_count, 'time') %></h6>
	<p>
		Last time you watched this, you 
		<% if @viewing.liked == true %>
			liked
		<% else %>
			didn't like
		<% end %>
			it.
	</p>
	<h4>Did you rewatch this movie?</h4>
<% else %>
	<h4>Did you watch this movie?</h4>
<% end %>

<%= form_with model: @viewing do |f| %>
   <div class="field">
     <%= f.check_box :liked, id: "viewing_liked" %>
     <%= f.label :liked, "Did you like this movie?" %>
   </div>
	<div class="input-field">
		<%= f.hidden_field :movie_id, value: @movie.id %>
		<%= f.hidden_field :recently_watched_at, value: @time %>
		<%= f.submit "Watched", class: "btn" %>
	</div>
<% end %>