<h1>Welcome, <%= @user.first_name %></h1>
<%= image_tag @user.avatar.url, class: "materialboxed", width: "350px" %>

<% if !@user.creations.empty? %>
	<h3>Movies created:</h3>
	<ul>
		<% @user.creations.each do |movie| %>
			<li>
				<%= link_to movie.name, movie %>
			</li>
		<% end %>
<% end %>

<% if !@user.viewings.empty? %>
	<h3>Movies viewed:</h3>
	<ul>
		<% @user.movies.each do |movie| %>
			<li>
				<%= link_to movie.name, movie %>
			</li>
		<% end %>
	</ul>
<% end %>

<%= link_to "Add a new movie", new_movie_path, class: "btn-large" %>