<h1>All Movie Creators</h1>


<div class="row">
<% @creators.each do |creator| %>
  <div class="col s4">
    <div class="card">
      <div class="card-image">
        <%= image_tag creator.avatar.url %>
        <span class="card-title"><%= link_to creator.full_name, creator %></span>
      </div>
      <div class="card-content">
        <p>Movies created: <%= creator.creations.count %></p>
        <p>Reviews made: <%= creator.reviews.count %></p>
      </div>
      <div class="card-action">
        <%= link_to "View Profile", creator %>
      </div>
    </div>
  </div>
<% end %>
</div>